.tour__card {
    margin-bottom: 2rem;
}

.tour__card__wrapper {
    border: none;
    box-shadow: rgba(220, 178, 178, 0.2) 0px 18px 50px -10px;
    transition: transform 0.3s ease;
    border-radius: 5px;
    overflow: hidden;
}

.tour__card__wrapper:hover {
    transform: translateY(-5px);
}

.tour__img {
    position: relative;
    overflow: hidden;
}

.tour__img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: transform 0.3s ease;
    display: block;
}

.tour__img:hover img {
    transform: scale(1.05);
}

.featured__label {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--primary-color);
    color: #fff;
    padding: 0.2rem 0.4rem;
    border-radius: 3px 0 0 0;
    font-size: 0.8rem;
    z-index: 1;
}

.card__top span i {
    color: var(--secondary-color);
}

.tour__rating {
    font-size: 0.9rem;
    color: var(--text-color);
}

.tour__rating span {
    color: var(--text-color);
}

.tour__location {
    color: var(--heading-color);
    font-weight: 500;
    font-size: 0.9rem;
}

.tour__rating i:nth-child(1) {
    font-size: 1rem;
    color: var(--secondary-color);
}

.tour__title {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.tour__title a {
    text-decoration: none;
    color: var(--heading-color);
    transition: color 0.2s ease;
}

.tour__title a:hover {
    color: var(--secondary-color);
}

.card__bottom h5 {
    font-size: 1.1rem;
    color: var(--secondary-color);
    font-weight: 700;
}

.card__bottom h5 span {
    font-size: 0.8rem;
    color: var(--text-color);
    font-weight: 500;
}

.booking__btn {
    background: var(--secondary-color) !important;
    cursor: pointer;
    padding: 0.3rem 0.8rem !important;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.booking__btn a {
    text-decoration: none;
    color: #fff;
    font-size: 0.85rem;
}

.booking__btn:hover {
    background-color: var(--primary-color) !important;
}

@media only screen and (max-width: 576px) {
    .tour__title {
        font-size: 1rem;
    }

    .booking__btn a {
        font-size: 0.8rem;
    }

    .booking__btn {
        padding: 0.2rem 0.5rem !important;
    }

    .tour__location, .tour__rating {
        font-size: 1rem;
    }
}

